@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@400;600&family=Raleway:wght@200;400;500&display=swap");
/* Variables */
/* Colors */
/* Fonst */
/* Letter  spacing */
/* Background box */
/* Transition */
/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 200;
}

body {
  font-family: "Raleway", sans-serif;
  color: #485460;
  cursor: default;
}

body .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

body .section-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 1.2px;
  margin-bottom: 110px;
}

body .section-text h2 {
  font-size: 55px;
  font-weight: 200;
  position: relative;
  margin-bottom: 48px;
}

body .section-text h2::after {
  position: absolute;
  content: '';
  bottom: -20px;
  left: 50%;
  transform: translate(-50%);
  width: 20%;
  height: 1px;
  background-color: #63dba3;
  transition: 0.4s;
}

body .section-text h2:hover::after {
  width: 65%;
}

.btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border: 2px solid #63dba3;
  border-radius: 20px;
  transition: 0.4s;
  cursor: pointer;
}

.btn p {
  font-size: 16px;
  padding: 0;
  font-weight: 600;
  letter-spacing: 0.6px;
}

.btn-two {
  width: 165px;
  height: 45px;
  margin-top: 100px;
  border: 2px solid #485460;
  font-size: 14px;
}

.btn-two p {
  font-size: 14px;
  font-weight: 600;
}

.btn-two:hover {
  border: 2px solid #63dba3;
  background-color: #63dba3;
  color: #fff;
}

/* Header section */
.splash {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url("https://i.postimg.cc/yNBRry0N/pexels-visit-greenland-360912.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.splash .splash-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 100vw;
  height: 8vh;
  padding-top: 5vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* Logo in header */
.logo-text {
  font-size: 35px;
  font-family: "Athiti", sans-serif;
  color: #fff;
  letter-spacing: 1.2px;
}

.logo-text .logo-element {
  color: #63dba3;
  font-size: 42px;
}

/* Menu in header */
.menu ul {
  display: -ms-flexbox;
  display: flex;
}

.menu ul li {
  padding-right: 45px;
  list-style-type: none;
}

.menu ul a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Athiti", sans-serif;
  font-size: 18px;
  letter-spacing: 1.2px;
}

/* Title in header */
.header-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  font-size: 25px;
  letter-spacing: 1.2px;
  /* Btn-one */
}

.header-text span {
  font-weight: 500;
}

.header-text p {
  font-size: 20px;
  padding-top: 15px;
}

.header-text .btn-one {
  height: 45px;
  width: 180px;
  margin-top: 45px;
  border: 2px solid #63dba3;
}

.header-text .btn-one p {
  font-size: 16px;
  padding: 0;
  font-weight: 600;
}

.header-text .btn-one:hover {
  background-color: #63dba3;
  color: #fff;
}

/* About section */
.about {
  max-width: 80vw;
  margin: 12vh auto;
  /* Boxes icons in section about */
}

.about p {
  margin-bottom: 120px;
}

.about .box-wrapper {
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.about .box-wrapper .box {
  -ms-flex: 1;
      flex: 1;
  padding-right: 20px;
}

.about .box-wrapper .box:last-child {
  padding-right: 0;
}

.about .box-wrapper .fas {
  font-size: 38px;
  height: 120px;
  width: 120px;
  line-height: 120px;
  border-radius: 50%;
  background-color: rgba(210, 218, 226, 0.507);
  transition: 0.4s;
  margin-bottom: 7vh;
}

.about .box-wrapper .fas:hover {
  background-color: #63dba3;
  color: #fff;
}

.about .box-wrapper h3 {
  font-size: 30px;
  color: #000;
  margin-bottom: 4vh;
}

/* Work section */
.work {
  max-width: 80vw;
  margin: 25vh auto;
}

.work .container {
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work .container h2 {
  margin-bottom: 20px;
}

.work .container .photo {
  display: -ms-flexbox;
  display: flex;
}

.work .container .photo-left {
  margin-bottom: 20vh;
}

.work .container .work-text {
  -ms-flex: 1;
      flex: 1;
  padding: 0 80px 0 0;
  letter-spacing: 2px;
}

.work .container .work-text h4 {
  font-size: 50px;
  margin-top: -8px;
}

.work .container .work-text p {
  padding-top: 40px;
  text-align: left;
  line-height: 1.8em;
}

.work .container .work-text .btn {
  margin-top: 35px;
}

.work .container .work-text .btn p {
  padding: 0;
  font-weight: 600;
}

.work .container .work-text:last-child {
  padding: 0 0 0 80px;
}

.work .container .work-image {
  max-width: 40%;
  max-height: 280px;
}

.work .container .work-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
  transition: 0.4s;
}

.work .container .photo:hover img {
  filter: brightness(90%);
}

/* Section cite */
.cite-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100vw;
  height: 87vh;
  background: url("https://i.postimg.cc/ZngnMDC1/pexels-fauxels-3183150.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.cite-container h5 {
  font-size: 30px;
  color: #fff;
  letter-spacing: 1.2px;
  margin-bottom: 35px;
}

.cite-container p {
  font-size: 18px;
}

.cite-container .cite-word {
  color: #63dba3;
}

/*Services section */
.services {
  max-width: 80vw;
  margin: 12vh auto;
}

.services .container-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services .container-box .mar {
  margin-top: 70px;
}

.services .container-box .service-box {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  padding: 0 40px 20px 40px;
}

.services .container-box .service-box h6 {
  font-size: 50px;
  margin: 20px 0 40px 0;
  letter-spacing: 0.6px;
}

.services .container-box .service-box p {
  letter-spacing: 1.2px;
  line-height: 1.8em;
  letter-spacing: 1.5px;
}

.services .container-box .service-box span {
  color: #63dba3;
}

/*Team section */
.team {
  margin: 20vh 0;
}

.team .container {
  width: 100%;
}

.team .container .container-image {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team .container .container-image .team-image {
  position: relative;
  height: 410px;
  -ms-flex: 0 0 20%;
      flex: 0 0 20%;
}

.team .container .container-image .team-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.team .container .container-image .team-image .bg-image {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(99, 219, 163, 0.8);
  opacity: 0;
  transition: 0.4s;
  color: #fff;
  font-size: 32px;
  text-decoration: none;
}

.team .container .team-image:hover .bg-image {
  opacity: 1;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */