@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@400;600&family=Raleway:wght@200;400;500&display=swap");
/* Variables */
/* Colors */
/* Fonst */
/* Letter  spacing */
/* Background box */
/* Transition */
/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  color: #485460;
  cursor: default;
  font-weight: 200;
}

.btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border: 2px solid #63dba3;
  border-radius: 20px;
  transition: 0.4s;
  cursor: pointer;
}

.btn p {
  font-size: 16px;
  padding: 0;
  font-weight: 600;
  letter-spacing: 0.6px;
}

/* Header section */
.splash {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url("https://i.postimg.cc/yNBRry0N/pexels-visit-greenland-360912.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.splash .splash-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 100vw;
  height: 8vh;
  padding-top: 5vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* Logo in header */
.logo-text {
  font-size: 35px;
  font-family: "Athiti", sans-serif;
  color: #fff;
  letter-spacing: 1.2px;
}

.logo-text .logo-element {
  color: #63dba3;
  font-size: 42px;
}

/* Menu in header */
.menu ul {
  display: -ms-flexbox;
  display: flex;
}

.menu ul li {
  padding-right: 45px;
  list-style-type: none;
}

.menu ul a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Athiti", sans-serif;
  font-size: 18px;
  letter-spacing: 1.2px;
}

/* Title in header */
.header-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  font-size: 25px;
  letter-spacing: 1.2px;
  /* Btn-one */
}

.header-text h1 {
  font-weight: 200;
}

.header-text span {
  font-weight: 500;
}

.header-text p {
  font-size: 20px;
  padding-top: 15px;
}

.header-text .btn-one {
  height: 45px;
  width: 180px;
  margin-top: 45px;
  border: 2px solid #63dba3;
}

.header-text .btn-one p {
  font-size: 16px;
  padding: 0;
  font-weight: 600;
}

.header-text .btn-one:hover {
  background-color: #63dba3;
  color: #fff;
}

/* About section */
.container {
  max-width: 80vw;
  margin: 12vh auto;
  /* Boxes icons in section about */
  /* Btn in about section */
}

.container .section-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 1.2px;
}

.container .section-text h2 {
  font-size: 55px;
  font-weight: 200;
  position: relative;
  margin-bottom: 50px;
}

.container .section-text h2::after {
  position: absolute;
  content: '';
  bottom: -20px;
  left: 50%;
  transform: translate(-50%);
  width: 20%;
  height: 1px;
  background-color: #63dba3;
  transition: 0.4s;
}

.container .section-text h2:hover::after {
  width: 65%;
}

.container .section-text p {
  margin-bottom: 120px;
}

.container .box-wrapper {
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.container .box-wrapper .box {
  -ms-flex: 1;
      flex: 1;
  padding-right: 20px;
}

.container .box-wrapper .box:last-child {
  padding-right: 0;
}

.container .box-wrapper .fas {
  font-size: 38px;
  height: 120px;
  width: 120px;
  line-height: 120px;
  border-radius: 50%;
  background-color: rgba(210, 218, 226, 0.507);
  transition: 0.4s;
  margin-bottom: 7vh;
}

.container .box-wrapper .fas:hover {
  background-color: #63dba3;
  color: #fff;
}

.container .box-wrapper h3 {
  font-size: 30px;
  color: #000;
  margin-bottom: 4vh;
}

.container .about {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.container .btn-two {
  width: 165px;
  height: 45px;
  margin-top: 100px;
  border: 2px solid #485460;
  font-size: 14px;
}

.container .btn-two p {
  font-size: 14px;
  font-weight: 600;
}

.container .btn-two:hover {
  border: 2px solid #63dba3;
  background-color: #63dba3;
  color: #fff;
}

/* Work section */
.container {
  max-width: 80vw;
  margin: 25vh auto;
}

.container .section-text {
  padding-bottom: 120px;
}

.container .work {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .photo {
  display: -ms-flexbox;
  display: flex;
}

.container .photo-left {
  margin-bottom: 20vh;
}

.container .work-text {
  -ms-flex: 1;
      flex: 1;
  padding: 0 80px 0 0;
  letter-spacing: 2px;
}

.container .work-text h4 {
  font-size: 50px;
  font-weight: 200;
  margin-top: -8px;
}

.container .work-text p {
  padding-top: 40px;
  text-align: left;
  font-weight: 200;
  line-height: 1.8em;
}

.container .work-text .btn {
  margin-top: 35px;
}

.container .work-text .btn p {
  padding: 0;
  font-weight: 600;
}

.container .work-text:last-child {
  padding: 0 0 0 80px;
}

.container .work-image {
  max-width: 40%;
  max-height: 280px;
}

.container .work-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
  transition: 0.4s;
}

.container .photo:hover img {
  filter: brightness(90%);
}

/* Section cite */
.cite-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100vw;
  height: 87vh;
  background: url("https://i.postimg.cc/ZngnMDC1/pexels-fauxels-3183150.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.cite-container h5 {
  font-size: 30px;
  color: #fff;
  letter-spacing: 1.2px;
  margin-bottom: 35px;
  font-weight: 200;
}

.cite-container p {
  font-size: 18px;
  font-weight: 200;
}

.cite-container .cite-word {
  color: #63dba3;
}
/*# sourceMappingURL=style.css.map */