@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@400;600&family=Raleway:wght@200;400;500&display=swap');

/* Variables */

/* Colors */
$main-color: rgb(99,219,163);
$section-color: #4b4b4b;
$text-color: #485460;

/* Fonst */
$font-logo: 'Athiti', sans-serif;
$font-text: 'Raleway', sans-serif;

/* Letter  spacing */
$spacing: 1.2px;
$sp-less: .6px;

/* Background box */
$back: rgba(210, 218, 226, 0.507);

/* Transition */
$transition: .4s;

/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    font-family: $font-text;
    color: $text-color;
    cursor: default;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $main-color;
    border-radius: 20px;
    transition: $transition;
    cursor: pointer;

    p {
        font-size: 16px;
        padding: 0;
        font-weight: 600;
        letter-spacing: $sp-less;
    }
}

/* Header section */
.splash {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url('https://i.postimg.cc/yNBRry0N/pexels-visit-greenland-360912.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;

    .splash-inner {
        display: flex;
        align-items: center;
        width: 100vw;
        height: 8vh;
        padding-top: 5vh;
        justify-content: space-around;
    }
}

/* Logo in header */
.logo-text {
    font-size: 35px;
    font-family: $font-logo;
    color: #fff;
    letter-spacing: $spacing;

    .logo-element {
        color: $main-color;
        font-size: 42px;
    }
}


/* Menu in header */
.menu ul {
    display: flex;

    li {
        padding-right: 45px;
        list-style-type: none;
    }

    a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $font-logo;
        font-size: 18px;
        letter-spacing: $spacing;
    }
}

/* Title in header */
.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 25px;
    letter-spacing: $spacing;

    h1 {
        font-weight: 200;
    }

    span {
        font-weight: 500;
    }

    p {
        font-size: 20px;
        padding-top: 15px;
    }

    /* Btn-one */
    .btn-one {
        height: 45px;
        width: 180px;
        margin-top: 45px;
        border: 2px solid $main-color;

        p {
            font-size: 16px;
            padding: 0;
            font-weight: 600;
        }
    }

    .btn-one:hover {
        background-color: $main-color;
        color: #fff;
    }
}

/* About section */
.container {
    max-width: 80vw;
    margin: 12vh auto;

    .section-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        letter-spacing: $spacing;

        h2 {
            font-size: 55px;
            font-weight: 200;
            position: relative;
            margin-bottom: 50px;
        }

        h2::after {
            position: absolute;
            content: '';
            bottom: -20px;
            left: 50%;
            transform: translate(-50%);
            width: 20%;
            height: 1px;
            background-color: $main-color;
            transition: $transition;
        }

        h2:hover::after {
            width: 65%;
        }

        p {
            margin-bottom: 120px;
        }
    }

    /* Boxes icons in section about */
    .box-wrapper {
        display: flex;
        text-align: center;

        .box {
            flex: 1;
            padding-right: 20px;
        }

        .box:last-child {
            padding-right: 0;
        }

        .fas {
            font-size: 38px;
            height: 120px;
            width: 120px;
            line-height: 120px;
            border-radius: 50%;
            background-color: $back;
            transition: $transition;
            margin-bottom: 7vh;
        }

        .fas:hover {
            background-color: $main-color;
            color: #fff;
        }

        h3 {
            font-size: 30px;
            color: #000;
            margin-bottom: 4vh;
        }
    }

    /* Btn in about section */
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-two {
        width: 165px;
        height: 45px;
        margin-top: 100px;
        border: 2px solid $text-color;
        font-size: 14px;
        
        p {
            font-size: 14px;
            font-weight: 600;
        }
    }

    .btn-two:hover {
        border: 2px solid $main-color;
        background-color: $main-color;
        color: #fff;
    }
}

/* Work section */
.container {
    max-width: 80vw;
    margin: 25vh auto;

    .section-text {
        padding-bottom: 120px;
    }

    .work{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .photo {
        display: flex;
    }

    .photo-left {
        margin-bottom: 20vh;
    }

    .work-text {
        flex: 1;
        padding: 0 80px 0 0;
        letter-spacing: 2px;

        h4 {
            font-size: 50px;
            font-weight: 200;
            margin-top: -8px;
        }

        p {
            padding-top: 40px;
            text-align: left;
            font-weight: 200;
            line-height: 1.8em;
        }

        .btn {
            margin-top: 35px;
    
            p {
                padding: 0;
                font-weight: 600;
            }
        }
    }

    .work-text:last-child {
        padding: 0 0 0 80px;
    }

    .work-image {
        max-width: 40%;
        max-height: 280px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(60%);
            transition: $transition;
        }
    }

    .photo:hover img {
        filter: brightness(90%);
    }
}
