@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@400;600&family=Raleway:wght@200;400;500&display=swap');

/* Variables */

/* Colors */
$main-color: rgb(99,219,163);
$main-color-op: rgba(99,219,163,.8);
$section-color: #4b4b4b;
$text-color: #485460;

/* Fonst */
$font-logo: 'Athiti', sans-serif;
$font-text: 'Raleway', sans-serif;

/* Letter  spacing */
$spacing: 1.2px;
$sp-less: .6px;

/* Background box */
$back: rgba(210, 218, 226, 0.507);

/* Transition */
$transition: .4s;

/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 200;
}

body {
    font-family: $font-text;
    color: $text-color;
    cursor: default;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        letter-spacing: $spacing;
        margin-bottom: 110px;

        h2 {
            font-size: 55px;
            font-weight: 200;
            position: relative;
            margin-bottom: 48px;
        }

        h2::after {
            position: absolute;
            content: '';
            bottom: -20px;
            left: 50%;
            transform: translate(-50%);
            width: 20%;
            height: 1px;
            background-color: $main-color;
            transition: $transition;
        }

        h2:hover::after {
            width: 65%;
        }
    }

    /* Btn */
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $main-color;
        border-radius: 20px;
        transition: $transition;
        cursor: pointer;
    
        p {
            font-size: 14px;
            padding: 0;
            font-weight: 600;
            letter-spacing: $sp-less;
        }
    }

    /* Btn-one */
    .btn-one {
        height: 45px;
        width: 180px;
        margin-top: 45px;
        border: 2px solid $main-color;

        p {
            font-size: 16px;
            padding: 0;
            font-weight: 600;
        }
    }

    .btn-one:hover {
        background-color: $main-color;
        color: #fff;
    }

    /* Btn-two */
    .btn-two {
        width: 165px;
        height: 45px;
        border: 2px solid $text-color;
        font-size: 14px;
        
        .btn-text {
            font-size: 14px;
            font-weight: 600;
            margin: 0;
        }
    }
    
    .btn-two:hover {
        border: 2px solid $main-color;
        background-color: $main-color;
        color: #fff;
    }
}

/* Header section */
.splash {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url('https://i.postimg.cc/yNBRry0N/pexels-visit-greenland-360912.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;

    .splash-inner {
        display: flex;
        align-items: center;
        width: 100vw;
        height: 8vh;
        padding-top: 5vh;
        justify-content: space-around;
    }
}

/* Logo in header */
.logo-text {
    font-size: 35px;
    font-family: $font-logo;
    color: #fff;
    letter-spacing: $spacing;

    .logo-element {
        color: $main-color;
        font-size: 42px;
    }
}


/* Menu in header */
.menu ul {
    display: flex;

    li {
        padding-right: 45px;
        list-style-type: none;
    }

    a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $font-logo;
        font-size: 16px;
        letter-spacing: $spacing;
    }
}

/* Title in header */
.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 25px;
    letter-spacing: $spacing;

    span {
        font-weight: 500;
    }

    p {
        font-size: 20px;
        padding-top: 15px;
    }

    /* Btn-one */
    .btn-one {
        height: 45px;
        width: 180px;
        margin-top: 45px;
        border: 2px solid $main-color;

        p {
            font-size: 16px;
            padding: 0;
            font-weight: 600;
        }
    }

    .btn-one:hover {
        background-color: $main-color;
        color: #fff;
    }
}

/* About section */
.about {
    max-width: 80vw;
    margin: 12vh auto;

    p {
        margin-bottom: 100px;
    }

    /* Boxes icons in section about */
    .box-wrapper {
        display: flex;
        text-align: center;

        .box {
            flex: 1;
            padding-right: 20px;
        }

        .box:last-child {
            padding-right: 0;
        }

        .fas {
            font-size: 38px;
            height: 120px;
            width: 120px;
            line-height: 120px;
            border-radius: 50%;
            background-color: $back;
            transition: $transition;
            margin-bottom: 7vh;
        }

        .fas:hover {
            background-color: $main-color;
            color: #fff;
        }

        h3 {
            font-size: 30px;
            color: #000;
            margin-bottom: 4vh;
        }
    }
}

/* Work section */
.work {
    max-width: 80vw;
    margin: 25vh auto;

    .container {
        justify-content: center;
        flex-wrap: wrap;

        h2 {
            margin-bottom: 20px;
        }

        .box-photo {
            display: flex;
        }

        .photo-left {
            margin-bottom: 20vh;
        }

        .work-text {
            flex: 1;
            padding: 0 80px 0 0;
            letter-spacing: 2px;

            h4 {
                font-size: 50px;
                margin-top: -8px;
            }

            p {
                padding-top: 40px;
                text-align: left;
                line-height: 1.8em;
            }

            .btn {
                margin-top: 35px;
        
                p {
                    padding: 0;
                    font-weight: 600;
                }
            }
        }

        .work-text:last-child {
            padding: 0 0 0 80px;
        }

        .work-image {
            width: 40%;
            height: 280px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: brightness(60%);
                transition: $transition;
            }
        }

        .photo:hover img {
            filter: brightness(90%);
        }
    }
}

/* Cite section */
.cite-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 87vh;
    background: url('https://i.postimg.cc/nLnsNjT1/pexels-fauxels-3183150-1.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    letter-spacing: $sp-less;

    h5 {
        font-size: 30px;
        color: #fff;
        margin-bottom: 35px;
    }

    p {
        font-size: 18px;
    }

    .cite-word {
        color: $main-color;
    }
}

/*Services section */
.services {
    max-width: 80vw;
    margin: 12vh auto;

    .container-box {
        display: flex;
        flex-wrap: wrap;

        .mar {
            margin-top: 70px;
        }

        .service-box {
            flex: 0 0 50%;
            padding: 0 40px 20px 40px;

            h6 {
                font-size: 50px;
                margin: 20px 0 40px 0;
                letter-spacing: $sp-less;
            }
        
            p {
                letter-spacing: $spacing;
                line-height: 1.8em;
                letter-spacing: 1.5px;
            }

            span {
                color: $main-color;
            }
        }
    }
}

/*Team section */
.team {
    margin: 20vh 0;

    .container{
        width: 100%;

        .container-image {
            display: flex;
            flex-wrap: wrap;

            .team-image {
                position: relative;
                height: 365px;
                flex: 0 0 20%;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                .bg-color {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 10;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-color: $main-color-op;
                    opacity: 0;
                    transition: $transition;
                    color: #fff;
                    font-size: 32px;
                    text-decoration: none;
                }
            }
        }

        .team-image:hover .bg-color {
            opacity: 1;
            cursor: pointer;
        }
    }   
}

/* Pricing section */
.pricing {
    max-width: 80vw;
    margin: 15vh auto;

    .pricing-container {
        display: flex;
        flex-wrap: wrap;

        .pricing-box {
            margin-right: 27px;
            flex: 1;
        }

        .pricing-box:last-child {
            margin-right: 0;
        }

        .cost {
            font-size: 58px;
            color: $main-color;
            margin-bottom: 20px;
        }

        .subtitle {
            font-size: 16px;
            color: rgb(175, 176, 177);
            letter-spacing: $spacing;
            margin-bottom: 70px;
        }

        .pricing-text {
            font-size: 17px;
            line-height: 2.5em;
            letter-spacing: $sp-less;
        }

        .cost, .subtitle, .pricing-text {
            padding: 0 40px 0 15px;
        }

        .btn-pricing {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            width: 17vw;
            padding: 0 25px;
            margin: 30px 10px 0 0;
            background-color: $main-color;
            border-radius: 2px 2px 4px 4px;
            color: #fff;
            transition: $transition;

            p {
                text-transform: uppercase;
                letter-spacing: 3px;
                font-weight: 600;
            }

            .fas {
                font-size: 20px;
            }
        }

        .btn-pricing:hover {
            background-color: rgb(116, 240, 182);
            cursor: pointer;
        }

        .btn-pricing:active {
            box-shadow: inset 0px 0px 23px -8px rgba(0,0,0,0.47);
            background-color: $main-color;
        }
    }
}

/* Map section */
.map {
    max-width: 100vw;
    margin: 30vh 0 12vh 10vw;

    .map-container {
        display: flex;

        .map-text {
            margin-right: 50px;
            letter-spacing: 2px;

            h4 {
                font-size: 50px;
                margin-top: -8px;
            }

            p {
                padding-top: 40px;
                text-align: left;
                line-height: 1.8em;
            }

            .btn {
                margin-top: 45px;

                p {
                padding-top: 0;
                }
            }
        }

        .map-image {
            height: 300px;
            width: 100vw;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Cite section two */
.cite-container:nth-child(odd) {
    margin-top: 25vh;
    background: url('https://i.postimg.cc/FRnyh9r6/pexels-simon-migaj-747964.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;

    h5 {
        font-size: 50px;

            .cite-word {
            color: #fff;
            font-weight: 600;
            letter-spacing: 2px;
        }
    }

    .btn-one {
        width: 210px;
        margin-top: 20px;        
        text-decoration: none;
        color: #fff;
        font-weight: normal;
    }

}

/* Footer section */
.footer {
    width: 80vw;
    margin: 0 auto;

    .container {
        flex-direction: row;
        justify-content: space-between;
        padding: 25px 0;

        .footer-logo {
            display: flex;
            font-size: 18px;
            letter-spacing: $sp-less;

            .fab {
                font-size: 20px;
                margin-right: 12px;
                color: #000;
            }
        }

        .menu a {
            font-size: 18px;
            text-transform: none;
            color: rgb(87,99,110);
        }

        .menu a:hover {
            color: #000;
        }
    }
}

/* Media Queries */
@media (max-width: 942px) {


    body {

        .section-text {
            margin-bottom: 75px;

            h2 {
                font-size: 44px;
            }

            p {
                font-size: 14px;
            }
        }

        /* Btn-two */
        .btn-two {
        height: 38px;
        width: 135px;
        border: 2px solid $text-color;
        font-size: 14px;
        
            .btn-text {
                font-size: 13px;
                font-weight: 600;
                margin: 0;
            }
        }
    }

    /* Header */
    .splash {

        /* Menu header */
        .splash-inner {
            flex-direction: column;

            .menu {
        
                li {
                    padding-right: 20px;
                }

                .fas {
                    display: none;
                }
            }
        }

        /* Title header */
        .header-text {

            h1 {
                font-size: 37px;
            }

            p {
                font-size: 18px;
            }

            .btn {
                height: 38px;
                width: 135px;
    
                p {
                    font-size: 13px;
                }
            }
        }
    }

    /* About section */
    .about .box {

        .fas {
            font-size: 30px;
            height: 100px;
            width: 100px;
            line-height: 100px;
            margin-bottom: 30px;
        }

        h3 {
            font-size: 22px;
        }

        p {
            font-size: 15px;
            letter-spacing: $sp-less;
            line-height: 20px;
            margin-bottom: 60px;
        }

        .btn .btn-two {
            height: 38px;
            width: 135px;

            p {
                font-size: 13px;
            }
        }
    }

    /* Work section */
    .work .box-photo {

        .work-image {
            width: 45%;
            height: 240px;
        }

        .work-text {
            padding: 0 45px 0 0;

            h4 {
                font-size: 40px;
                margin-top: -8px;
            }

            p {
                padding-top: 15px;
                line-height: 1.6em;
                font-size: 15px;
            }
        }

        .work-text:last-child {
            padding: 0 0 0 45px;
        }
    }

    /* Cite section */
    .cite-container {

        h5 {
            font-size: 23px;
            margin-bottom: 20px;
        }
    
        p {
            font-size: 15px;
        }
    }

    /* Service section */
    .services {
        .container-box {

            .mar {
                margin-top: 15px;
            }
            
            .service-box {
                padding: 0 20px 15px 20px;
                
                h6 {
                    font-size: 41px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 15px;
                }
            }
        }
    }

    /* Team section */
    .team {

        .container {

            .container-image {

                .no-display {
                    display: none;
                }

                .team-image {

                    height: 270px;
                }
            }
        }  
    }

    /* Pricing section */
    .pricing {
        
        .container .pricing-container {
        
            .pricing-box {

                flex: 0 0 50%;
                margin-right: 0;

                .subtitle {
                    font-size: 15px;
                }

                .pricing-text {
                    padding-right: 5vw;
                    line-height: 27px;
                }

                .btn-pricing {
                    
                    height: 50px;
                    width: 90%;
                    margin-bottom: 50px;
                }
            }

            .pricing-box:nth-child(even) {
                margin: 0;
            } 

            
        }
    }

    /* Map section */
    .map {

        .map-container {

            
            
            .map-text {

                h4 {
                    font-size: 42px;
                }

                p {
                    padding-top: 20px;
                    font-size: 14px;
                    line-height: 1.65em;
                }
            }
        }
    }

    /* Cite section two */
    .cite-container:nth-child(odd) {
        h5 {
            font-size: 30px;
            margin-bottom: 10px;
        }
        
        .btn-one {
            height: 38px;
            width: 175px;
            font-size: 14px;
        }
    }

    /* Footer section */
    .footer {

        .container {
            flex-direction: column;
            padding: 10px;

            .footer-logo {
                margin-top: 8px;

                .footer-logo-text {
                    font-size: 16px;
                }

                .fab {
                    font-size: 17px;
                }
            }

            .menu {
                order: -1;

                .li {
                    padding-right: 20px;
                }

                a {
                    font-size: 16px;
                }
            }
        }
    }
}